body{
  background-color: #2a2e35;
  color: wheat;
  font-family:cubano,sans-serif;
}

.login{
  transition: 0.5s;
  text-align: center;
  font-size:60px;
  background: -webkit-linear-gradient(#8A2387,#E94057,#F27121);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.metamask{
  margin: 0 auto;
}
